@using Core.Model
@model TitleDetails


<div>Movie Name :- @Model.TitleName (@Model.ReleaseYear) </div>
<div>Processed Date Time :- @Model.ProcessedDateTimeUTC.GetValueOrDefault().Date.ToString("dd MMM yyyy") </div>

@{
    var genres = Model.GenreName.Aggregate<string, string>(null, (current, g) => string.IsNullOrEmpty(current) ? g : current + ", " + g);
}

<div>Genres :- @genres</div>

@{
    var directors = Model.ParticipantsList.Where(d => d.RoleType == "Director").Aggregate<PaticipantsValue, string>(null, (current, director) => string.IsNullOrEmpty(current) ? director.Name : current + ", " + director.Name);
}
<div>Director:- @directors</div>

@{
    var producers = Model.ParticipantsList.Where(d => d.RoleType == "Producers").Aggregate<PaticipantsValue, string>(null, (current, producer) => string.IsNullOrEmpty(current) ? producer.Name : current + ", " + producer.Name);
}
<div>Producers:- @producers</div>

@{
    var stars = Model.ParticipantsList.Where(d => d.RoleType == "Actor").Aggregate<PaticipantsValue, string>(null, (current, star) => string.IsNullOrEmpty(producers) ? star.Name : current + ", " + star.Name);
}

<div class="expander">Stars:- @stars</div>

@if (Model.StoryLinesList.Any())
{
    <b>Story Line:-</b>
    foreach (var sl in Model.StoryLinesList)
    {
        <div class="expander"> <b>@sl.Type :-</b> @sl.Description</div><br/>
    }
}

@if (Model.AwardsList.Any())
{

    <table>
        <tr>
            <td><b>Award</b></td>
            <td><b>Award Company</b></td>
            <td><b>Year</b></td>
        </tr>

        @foreach (var a in Model.AwardsList)
        {
            <tr>
                <td>@a.Award1</td>
                <td>@a.AwardCompany</td>
                <td>@a.AwardYear</td>
            </tr>
        }

    </table>
    <br />

}